<p>はじめまして。落ちこぼれエンジニアのYJです。
ここでは僕が卒業したスクールである、
<strong>TECH::EXPERT</strong>
について話していきたいと思います。
あくまで僕個人の感想なのでどうか参考までに。
ただ良いとこ悪いとこ、余す事なく書くので、
<strong class="text-danger">これからスクール通おうか悩んでる人にはかなり参考になるのではないかなぁと自負します。</strong>
<br><br>
ちなみに何部かに分けて書くつもりです。構成的には、
HPの文言と実際に通ってみた感じの比較と簡単なコメント、
←の詳しい説明、
実際に通う人へのアドバイス、
みたいな感じで大きく分けて３つ考えています。
<br><br>
なぜこんなことを書こうと思ったかというと、
卒業してみて、世に出回っているブログや比較サイトなどのスクールの評価や口コミなどを見てたら、
ん？と思ったからです。
<strong>実に、いいことばっかり書いているか・・・</strong>
<br><br>
おそらく、実際の卒業生が、こう思うってことはそのブログが広告目的てやっているからでしょうね。って思います。
なので今回は、このスクールのHPやスクールを紹介しているブログさんなどをみていって、
<strong>こう書いてあったけど、実際こうだった・・・</strong>
みたいに比較的な感じで書いていこうかと思います。
<br><br>
先に言っておきますが、批判サイト的な勢いになっていますが、別に何か恨みがある訳ではなくｗ
僕自身、通って良かった事もあります。オススメするかどうか、
<br><br>
ただあまりにも、
<strong class="text-danger">スクール自体に利益があるような書き込みなどが多いので</strong>
<strong>（わざとそうしてるのでしょうけど）、</strong>
何も知らないで入ってしまうよりはマシなのかなっと思って書いてます。
誰かの力になれば思います。
<br><br>
では、さっそく言ってみましょー！！！
</p>

<h5 class="balloon text-white font-weight-bolder mb-4">”HPに上がっている”TECH::EXPERTの良い点</h5>
  以下、HPで上がっているTECHの良いところ的な文言を集めました。<br>
  この後の項目で、これに対して、”僕視点”で評価していきたいと思います。<br>

<ul class="pl-5 py-3 mt-3 alert alert-warning border border-warning text-secondary">
  <li>誰もがプロのエンジニアになれる場所</li>
  <li>一生使える技術を身につけ、自分自身の力で稼げる人材になれる</li>
    <ul>
      <li>手に職をつけることができる</li>
      <li>あなたの手でプロダクトを生み出す</li>
      <li>自由な働き方を実現する</li>  
    </ul>
  <li>未経験専用の教育プログラムだから安心</li>
  <li>あなたのスキルを即戦力へと高める教育プログラム</li>
  <ul>
    <li>最高の学習環境を用意することでそのコンテンツを600時間まで圧縮</li>
    <li>チーム開発・ペアプログラミングで実際の開発と近い経験を積める</li>
    <li>完全オリジナル教材で、現場で使うエンジニアの技術を広く深く学べる</li>
    <li>いつでも講師に質問し放題で、疑問は即解消できる</li>
  </ul>
  <li>あらゆる人にあわせた学習スタイル</li>
  <li>専属ライフコーチが学習を徹底サポート</li>
  <li>受講中からキャリアをマンツーマンでサポート</li>
  <li>受講が終わっても、入社して3年目までキャリアをサポート</li>
  <li>国内最大級の未経験からのエンジニア転職成功実績</li>
  <li>比較してもTECH::EXPERTがトップクラスの品質</li>
</ul>

とりあえず、こんなもんですね。<br>
これだけ見ると、ホントいいスクールじゃん！って思いますね。あぁ恐ろしい・・・
ちなみにこちらがスクールのHPです。→
  <%= link_to "スクールURL", "https://px.a8.net/svt/ejp?a8mat=35LOSZ+63OZ02+3JWG+C1TA9"%>
<br><br>
では次から、一つ一つに対して評価、コメントしていきたいと思います！
<br><br>

<h5 class="balloon text-white font-weight-bolder mb-4">”誰も”がプロのエンジニアになれる？</h5>
<%= image_tag "common/code-1839406_1280.jpg", class: "img-fluid w-100"%>
<br><br>
結果から先に、言います。
<br><br>
<h1><strong>ん〜無理だね。</strong></h1>
<br>
えっとーこれは過大評価というか、なんというか、ちょっと大げさなフレーズですね(^_^;)
<br><br>
では、詳しく解説します！
<br><br>
まず言いたいのが、
<strong class="text-danger">”プロには”なれません。</strong><br>
なれるのは、プログラミングをちょっと知ってる素人です。
普通に考えて、３ヶ月という短い時間でプロにはなれん！という事です。<br>
ただ「プロになるんだ！」という意気込みはすごく大事なのでそう言った気持ちは大事です！
<br><br>

<h5 class="balloon text-white font-weight-bolder mb-4">一生使える技術を身につけ、自分自身の力で稼げる人材になれる？</h5>
<%= image_tag "common/business-163464_1280.jpg", class: "img-fluid w-100"%>
<br><br>
これも大げさなフレーズというか、確かにここで学んだ事はおそらく一生使っていける物だと思います。<br>
ただ自分自身で稼げる人材になれるかどうかと言われるとどうだろうかってところ。
<br><br>
これは捉えかたの違いもありますが、ここで学んだ事は
<strong>WEB業界に入るきっかけにもなるので、そう言った意味では自分の手で稼ぐ事はできます。</strong>
<br><br>
本当ーーーに最低限の知識は学べるので、上記を言い換えるのであれば、
<strong class="text-danger">就職すら出来なかった人間が、就職できるようになるだけです。</strong>
ホント、それだけです。
それだけのために、６０万払って、朝から晩まで３ヶ月間、寝る間を惜しんで勉強するだけの事です。なんて簡単なのでしょう・・・
<br><br>
次にここに書かれている３つのメリットについて評価していきます。
<br><br>
①手に職をつけることができる → <strong>質はともかく間違いない。質に関しては自分次第。</strong><br>
②あなたの手でプロダクトを生み出す → 何言ってるか分からんｗ<br>
③自由な働き方を実現する → できなくは無いけど、
<strong>最低でも3年くらい経験積んだあとかな・・・</strong>
<br><br>
っ感じですね！どれも間違った事は言ってないと思います。
<br><br>

<h5 class="balloon text-white font-weight-bolder mb-4">未経験専用の教育プログラムだから安心？</h5>
絶対そんな事ない。ある程度の知識は絶対必要。
<strong>ちなみに学習が遅れた人へのサポートはほぼ無いと思って良いです。</strong>
また全体の1/3は挫折して、基礎カリキュラム（キックオフから２週間）のところで辞めます。まぁこればっかりはしょうがないでしょう。
<br><br>
続きは、
<%= link_to "実際に通う人へのアドバイス", "" %>に書きますので見てください！
<br><br>

<h5 class="balloon text-white font-weight-bolder mb-4">あなたのスキルを即戦力へと高める教育プログラム？</h5>
<%= image_tag "common/men-1979261_1280.jpg", class: "img-fluid w-100"%>
<br><br>

まず結果から、
<h1><strong>即戦力にはなれん！</strong></h1><br>
まぁここは転職活動初めて一番がっかりしたところでもありますが、
<strong>３ヶ月やそこらで培った技術が即戦力になる訳ないです。</strong><br>
企業側も今後成長するかどうかでしか見てないので面接の発言とかも大事になってきますね。<br>
このこと踏まえて、さらに４つの文言に対してコメント付けていきます。
<br><br>

■ 最高の学習環境を用意することでそのコンテンツを600時間まで圧縮<br>
→ これ1000時間を600時間に短縮しましたみたいな感じに書かれてます。
時間という不明確なところをPRに出すのは頭が良いなぁって思います。<br>
ここでは、詳しく話しませんが
<strong class="text-danger">コンテンツが600時間に短縮されようが自分の勉強する時間は変わりません。</strong>
<br><br>

■ チーム開発・ペアプログラミングで実際の開発と近い経験を積める<br>
→ 
<strong class="text-danger">これは素直に同感。やってよかったです！</strong>
<br><br>
■ 完全オリジナル教材で、現場で使うエンジニアの技術を広く深く学べる
→ ここはどうだろうか。<strong>環境構築からデプロイまで幅広く学べるが、</strong>
Rails案件が少ない中で、Rails一択のカリキュラムなのはちょっと気になるところ。<br>
であれば案件が多いPHPとかJavaを習得させて、おまけとしてRailsさせた方が就活しやすいのではないかなと思う。
<br><br>
■ いつでも講師に質問し放題で、疑問は即解消できる<br>
→ まず
<strong>講師ではない、メンターだ。</strong>
いつでもとあるが、一応時間の制限はあるし、
<strong class="text-danger">受講者数に対しメンターの数が圧倒的に少ないです。</strong>
更に、順番待ちや予約は一切出来ないので、タイミングを逃すと3時間も4時間も質問できない可能性があります。
<br><br>
<strong>またメンターの質や教え方もバラバラで</strong>
言い方悪いですがアタリハズレがあります。詳しくは、
<%= link_to "実際に通う人へのアドバイス", "" %>に書こうと思います。
<br><br>
<h5 class="balloon text-white font-weight-bolder mb-4">あらゆる人にあわせた学習スタイル？</h5>
短期にしろ、夜間にしろ
<strong>相当な時間の勉強量を要するので”あらゆる人に”は合わせていないのかと。</strong>
<br><br>
<h5 class="balloon text-white font-weight-bolder mb-4">専属ライフコーチが学習を徹底サポート？</h5>
これは運です。配属されるチームによります。
<strong>ただ間違いなく徹底サポートではないです。</strong>
<br><br>
良いグループで・・・
<br><br>
<div class="d-flex col-11">
  <%= image_tag "common/school_teacher_male_illust_2434.png", class: "img-thumbnail talk-icon", style: "height: 80px; width: 80px;" %>
  <div class="pl-3">
    <p>Aコーチ :</p>
    <p>「最近どう？進んでる？」</p>
  </div>
</div>
<div class="d-flex flex-row-reverse">
  <%= image_tag "common/illustrain10-singakki05.png", class: "img-thumbnail talk-icon", style: "height: 80px; width: 80px;" %>
  <div class="pr-3 ml-5">
    <p class="text-right pr-3">B生徒 :</p>
    <p>「あぁちょっとここで詰まってます・・・(ﾜｸﾜｸ)」</p>
  </div>
</div>
<div class="d-flex col-11">
  <%= image_tag "common/school_teacher_male_illust_2434.png", class: "img-thumbnail talk-icon", style: "height: 80px; width: 80px;" %>
  <div class="pl-3">
    <p>Aコーチ :</p>
    <p>「あぁそこね。難しいよね〜まぁ分かんなかったら、どんどんメンター使った方がいいよ*･゜ﾟ･*:.｡..｡.:*･'(*ﾟ▽ﾟ*)'･*:.｡. .｡.:*･゜ﾟ･*！」</p>
  </div>
</div>
<div class="d-flex flex-row-reverse">
  <%= image_tag "common/illustrain10-singakki05.png", class: "img-thumbnail talk-icon", style: "height: 80px; width: 80px;" %>
  <div class="pr-3 ml-5">
    <p class="text-right pr-3">B生徒 :</p>
    <p>「わかりました。ありがとうございます（えぇ教えろよ・・・メンター苦手なんだよ〜(^◇^;)）」</p>
  </div>
</div>
<br>
的な会話が教室内であるくらいです。
<strong>ちなみに僕のチームは一切こういうのすらなかったです。</strong>
教室ですれ違っても軽く会釈するくらいです。
<br><br>
徹底的なサポート・・・本当にありがたいです・・・（ ｉ _ ｉ ）
<br><br>
<h5 class="balloon text-white font-weight-bolder mb-4">受講中からキャリアをマンツーマンでサポート？</h5>
<%= image_tag "common/business-3560932_1280.jpg", class: "img-fluid w-100"%>
<br><br>
まぁなんか大々的に書いてますけど、ただの転職先の希望聞いて探してくれるだけです。<br>
<strong>期待以上の事はやってくれないと考えて良いでしょう。</strong><br>
ちなみに僕は自力で応募して内定頂きました。TECHさん経由では１つも内定もらってません！
<br><br>
また一応面接の対策的な事はしますが、
<strong>面接で聞かれそうな事をテンプレとして集めて、それに対する答えを事前に考えといてどの企業でも対応できるようにする感じです。</strong>
<br><br>
ただこれだけだと、
<strong>弱いですね。僕的には受ける企業毎に対策打って欲しかったです。</strong>
例えば、この会社さんはこういう企業理念だからこういうこと言えるとポイント高いとか、
キャリアアドバイザーの意見を聞ければもしかしたら変わっていたかもです。
<br><br>
これは個人的な意見なので参考程度に聞いて欲しいのですが、
<strong class="text-danger">自力で案件を探して、スクールに通ってませんって行った方が内定獲得率が高くなります。</strong>
<br><br>
スクール経由だと「あぁスクールの人ね」と見られがちですが、自力の方が「あぁ頑張ってんな」って思われると思うので、
会う前の印象が違います。<br>
ただポートフォリオは、
<strong class="text-danger">完全オリジナルのものを作った方が良いです。</strong>
スクールで作ったものはバレます。
<br><br>
<h5 class="balloon text-white font-weight-bolder mb-4">受講が終わっても、入社して3年目までキャリアをサポート？</h5>
ここはまだ受けていないのでわかりませんが、3年も経てば好きなところにいけるでしょ？というのが率直な意見。
<br><br>
<h5 class="balloon text-white font-weight-bolder mb-4">国内最大級の未経験からのエンジニア転職成功実績？</h5>
<%= image_tag "common/20181215133925.png", class: "img-fluid w-100"%>
国内最大級かどうかは置いといて、実績はあると思います。<br>
が、一応念頭に入れておいて欲しいのが、HPに記載されている、D○M.comとかteamL○Bなどいわゆる大手企業に行ける！
的なノリで記載されていますが、
<strong class="text-danger">行けるのはごく一部の人間です。</strong>
<br><br>
<strong>だいたいの人は社員数100名以下とかの中小企業、
またRails案件だと10名くらいのスタートアップやベンチャーに送り込まれると思っておいた方が良いです。</strong>
<br><br>
まぁどうせ業界1社目なので長くいる事を考えなくても良いと思いますが、HPの内容を信じているとちょっとがっかりするかもです。
<br><br>
<h5 class="balloon text-white font-weight-bolder mb-4">まとめ</h5>
まとめます！<br>
ここまで書いたこと踏まえ、このスクールを紹介するのなら、以下になります。
<ul class="pl-5 py-3 mt-3 alert alert-warning border border-warning text-secondary">
  <li>徹底サポートはしないけど、手助けくらいはしてくれる。</li>
  <li>完全に未経験だときついけど、ある程度勉強した上でカリキュラムを始めれば達成できてスキルアップになる。</li>
  <li>HPにあるような有名企業には行けないけど、とにかくWEB業界で働く事はできる。</li>
  <li>即戦力にはなれないけど、完全な未経験よりはポテンシャルで採用してくれる確率が上がる。</li>
</ul>
まぁこんなところです。
<br><br>
オススメする人としては、以下になります。
<ul class="pl-5 py-3 mt-3 alert alert-warning border border-warning text-secondary">
  <li>①貯金が100万以上ある。※実家ぐらしの方は無くても良いです。</li>
  <li>②独学で勉強したことがある。</li>
  <li>③とにかくWEB業界で働ければ企業はどこでも良いと思ってる。</li>
</ul>
こんな感じです。何度も言いますがあくまで個人の見解なので参考程度にして欲しいのですが、
<strong>上記全てが当てはまらなければ受講は諦めた方が良いでしょう。</strong>
<br><br>
１つづつ解説していくと、①に関しては一人暮らしの方に絞った話になるのですが、
短期集中コースの場合、
<strong>一応半年くらい無職になるので、</strong>
授業料や生活費を考えたら最低でもこのくらいは必要になるかと。ちなみにバイトとかは不可です。
<br><br>
②は重要です！先にも話しましたが、ホントやっておかないとあとが辛いです。<br>
<strong>Progateの無料枠でも良いので”少しでもコードに慣れた状態”で始める事をお勧めします。</strong>
詳しくは
<%= link_to "実際に通う人へのアドバイス", "" %>に書きますので気になる人は見ていってください。
<br><br>
③も結構重要。ここで取り扱ってる企業の殆どが名の知れてない小さい会社ばっかなので、
<strong class="text-danger">大企業の案件もありますが、案件少ない＆ハードルも高いです。</strong>
結構妥協して入社する可能性の方が高いので
<strong>WEB業界に入る足がかり</strong>
と考えられる人ならお勧めします。
<br><br>
以上が僕が評価するTECH::EXPERTの評価です！<br>
どうですか？行きたくなりましたｗ？<br>
最初行ったように完全否定している訳じゃないし、良かったところもたくさんあります。
<br><br>
僕自身、卒業したてでまだどうなるかわかりませんが、今でも仕事で経験積んでフリーになって・・・
って考えています。面接で「今からエンジニアなんて、もう遅い」みたいな事言われたりもしましたが、
全て努力次第だし挑戦に年齢制限なんてないと思います。
<br><br>
自分で自分の道は切り開けると思うので、そう言った意味では
<strong>本当にスクール行って良かったなと思います。</strong>
ただもう少し中のことがわかっていればもっと上手な使い方が出来たと後悔してます。
ということで、長くなりましたがもし気になる方いたらコメントでも下さい！












