.container-fluid.text-center.my-5
  %h1 Failure-blog
  %p 〜落ちこぼれが、エンジニアになるまでの備忘録〜

= render "nav"

.container.col-12.p-xl-5.p-md-5.p-0.pt-5
  .container-left.col-xl-8.mx-xl-5.col-lg-10.mx-lg-auto
    = icon 'far', 'clock', class: "text-secondary"
    %span.text-secondary 2019-08-08
    %h2.font-weight-bolder.py-3 迷っている人にみて欲しい！本物の卒業生が語る、TECH::EXPERTの評価！
    .container-left__button.pb-3
      = link_to "", class: "text-white" do
        %button.btn.btn-primary
          = icon 'fab', 'facebook', class: "pr-1"
          %span Facebook
      = link_to "", class: "text-white" do
        %button.btn.btn-info 
          = icon 'fab', 'twitter', class: "pr-1"
          %span Twitter
      = link_to "", class: "text-white" do
        %button.btn.btn-danger
          = icon 'fab', 'get-pocket', class: "pr-1"
          %span Pocket
      = link_to "", class: "text-white" do
        %button.btn.btn-success
          = icon 'fab', 'blogger', class: "pr-1"
          %span Hatebu
    = image_tag "common/tech_expert_image_1.jpg", class: "img-fluid w-100"

    .container-left__main.pt-3
      = render "main"

  .container-right
    %h5.bg-dark.text-white.p-3.font-weight-bolder プロフィール
    = image_tag "common/profile_image_1.jpg", class: "img-fluid w-100"
    %h5.p-2.text-center.m-0 YJ
    %p.m-0.container-right__profile TECH::EXPERTに通ってWEB系のエンジニアになりました。
    %p.m-0.container-right__profile もともと、業種は違うのですが国交相システムの運用保守をやっていました。
    %p.m-0.container-right__profile 運用時代に趣味でHTMLをいじったのがきっかけで、単純に「作るの楽しい！」って思い、これが仕事になったら良いなって思いこの業界に入りました。
    %p.m-0.container-right__profile 今は経験も技術もまだまだですが、いつかはエンジニア仲間作って、何か１つのプロジェクト立ち上げてみたいなって小さな野望抱えてます！

.container.bg-dark.text-white.p-4.mt-5
  %p.m-0.w-100.text-center © 2019 YJ. All right reserved.
    
  

